#:schema node_modules/wrangler/config-schema.json
name = "llm-rss-vectorise-agent-vectorize"
main = "src/index.ts"
compatibility_date = "2026-03-15"

logpush = true

[[vectorize]]
binding = "VECTORIZE"
index_name = "rss-embeddings"
remote = true

[[d1_databases]]
binding = "DB"
database_name = "llm-rss-vectorise-agent"
database_id = "<ID>"

[ai]
binding = "AI"
remote = true

[[queues.producers]]
 queue = "llm-rss-vectorise-agent"
 binding = "MAIN_QUEUE"

[[queues.consumers]]
 queue = "llm-rss-vectorise-agent"
 max_batch_size = 10
 max_batch_timeout = 5