#:schema node_modules/wrangler/config-schema.json
name = "llm-rss-vectorise-agent-web"
compatibility_date = "2026-03-15"
pages_build_output_dir = "./build/client"

[vars]
ENVIRONMENT = "production"
USE_FIXTURES = "false"

[[d1_databases]]
binding = "DB"
database_name = "llm-rss-vectorise-agent"
database_id = "<ID>"

[ai]
binding = "AI"
remote = true

[[vectorize]]
binding = "VECTORIZE"
index_name = "rss-embeddings"
remote = true
